.sidebar {
    color: white;
    background-color: rgb(54, 116, 230);
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(20, 1fr);

}

.sidebar > div {
    margin-top: 0.6rem;
}

.sidebar > #text {
    margin-left: 15%;
}